.section {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.heading {
    	position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  	letter-spacing: -0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.70);
}

.headerText {
  	position: relative;
  	font-size: 32px;
  	letter-spacing: -0.02em;
  	line-height: 40px;
  	font-weight: 900;
  	color: #fff;
  	text-align: center;
}



.stAndLast {
  	font-size: 16px;
  	line-height: 24px;
  	font-weight: 900;
  	background: linear-gradient(180deg, #eeff41, #fff 81.73%), linear-gradient(#fff, #fff);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	text-align: center;
}
