.section {
	display: flex;
	flex-direction: column;
}

.headerText {
	position: relative;
	font-size: 20px;
	letter-spacing: -0.02em;
	line-height: 28px;
	font-weight: 900;
	text-align: center;
	color: #fff;
}

.firstYearContainerFrame {
	width: calc(100% - 32px);
	height: 92px;
	position: relative;
	margin: 0px 16px;
	border-radius: 16px;
	background: border-box;
	border: 1px solid rgba(255, 255, 255, 0.40);
	box-sizing: border-box;
	overflow: hidden;
	flex-shrink: 0;
	text-align: left;
	font-size: 12px;
	color: #fff;
}

.subsequentYearContainerFrame {
	width: calc(100% - 32px);
	height: 116px;
	position: relative;
	margin: 0px 16px;
	border-radius: 16px;
	background: border-box;
	border: 1px solid rgba(255, 255, 255, 0.40);
	box-sizing: border-box;
	overflow: hidden;
	flex-shrink: 0;
	text-align: left;
	font-size: 12px;
	color: #fff;
}

.containerHeading {
	width: 100%;
	top: 0px;
	right: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 0px;
	background: linear-gradient(180deg, rgba(61, 65, 250, 0.6), rgba(61, 65, 250, 0.24)) padding-box, linear-gradient(180deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.04)) border-box;
	box-sizing: border-box;
	height: 32px;
	line-height: 16px;
}

.feeRow {
width: 100%;
top: 16px;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 16px;
gap: 20px;
text-align: left;
font-size: 16px;
color: #fff;
}

.joiningFee {
	position: relative;
line-height: 24px;
font-weight: 900;
color: #fff;
text-align: left;
}

.gst {
  	position: relative;
  	letter-spacing: -0.02em;
  	color: #fff;
  	text-align: right;
  	font-size: 20px;
  	font-family: 'Noto Sans';
}
.span {
  	line-height: 28px;
  	font-weight: 900;
}
.gst2 {
  	font-size: 14px;
  	line-height: 20px;
}

.inPreviousYearParent {
width: 100%;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 8px;
text-align: left;
font-size: 12px;
color: rgba(255, 255, 255, 0.7);
font-family: 'Noto Sans';
}

.renewalFeeParent {
width: 100%;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
gap: 8px;
text-align: right;
font-size: 12px;
color: rgba(255, 255, 255, 0.7);
font-family: 'Noto Sans';
}

.inPreviousYear {
align-self: stretch;
position: relative;
letter-spacing: -0.02em;
line-height: 16px;
}

.spend2Lac {
align-self: stretch;
position: relative;
font-size: 16px;
line-height: 24px;
font-weight: 900;
color: #fff;
}

.waivedOff {
width: 88px;
height: 24px;
position: relative;
font-size: 16px;
line-height: 24px;
font-weight: 900;
font-family: 'Noto Sans';
background: linear-gradient(180deg, #eeff41, #fefee0);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: left;
display: inline-block;
}