.section {
	display: flex;
	flex-direction: column;
}

.headerText {
	position: relative;
	font-size: 20px;
	letter-spacing: -0.02em;
	line-height: 28px;
	font-weight: 900;
	color: #fff;
	text-align: center;
}

.keyDetailsRow {
	position: relative;
	display: flex;
	align-items: stretch;
	gap: 8px;
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.keyDetailsRow::-webkit-scrollbar {
	display: none;
}

.card {
	min-width: 240px;
	flex-shrink: 0;
	position: relative;
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.40);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 24px;
	gap: 16px;
	text-align: left;
	color: #fff;
	font-family: 'Noto Sans';
}

.card:first-child {
	margin-left: 16px;
}

.card:last-child {
	margin-right: 16px;
}

.topText {
	font-size: 14px;
	letter-spacing: -0.02em;
	line-height: 20px;
	font-weight: 900;
}

.superText {
	color: #80FF86;
}

.bulletList {
	margin: 0;
	padding-left: 22px;
	list-style-type: disc;
	font-size: 12px;
	letter-spacing: -0.24px;
	line-height: 16px;
	color: #fff;
}

.bulletList li {
	margin-bottom: 8px;
	font-weight: 400;
}

.bulletList li:last-child {
	margin-bottom: 0;
}

.bulletList li b {
	font-weight: 700;
}

.link {
	color: #fff;
	text-decoration: underline;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.24px;
}